numpy~=1.26.4
scipy~=1.14.1
pandas
matplotlib~=3.9.2
trimesh~=4.6.0
networkx
pyglet<2
manifold3d
autopep8
shapely
open3d
cgal
tqdm
rtree
mypy
nptyping[complete]~=2.5.0
pillow~=11.0.0
scikit-learn~=1.5.2